@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position:  relative;
  transform-style:  preserve-3d;
  transition:  all 0.8s ease;
}

.front {
  position:  absolute;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  backface-visibility: hidden;
  transform:  rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}